{
	"plugins": [
		// Point /@sys/ references to other TypeScript modules
		["module-resolver", {
			"alias": {
				"/@sys": "./client/src/",
				"/@comm": "./common/"
			}
		}],
		["@babel/plugin-proposal-decorators", {
			"version": "2023-11"
		}]
	],
	"presets": [
		// Babel compiler
		["@babel/preset-env", {		
			"targets": {
				"chrome": 63
			},
			"useBuiltIns": "usage",
			"corejs": "^3.36.1"
		}]
	]
}