{
	"plugins": [
		// Point /@sys/ references to other TypeScript modules
		["module-resolver", {
			"alias": {
				"/@sys": "./client/src/",
				"/@comm": "./common/"
			}
		}]
	],
	"presets": [
		// Babel compiler
		["@babel/preset-env", {		
			"targets": {
				"chrome": 54
			},
			"useBuiltIns": false
		}]
	],
	"sourceMaps": false
}