# Any dot file or folder is never added
.*/*

# Modules should be obtained from npm
node_modules/*

# Private user files
usr/test/.system/collections.json
usr/test/.system/favorites.json
usr/test/.system/desktop.json

# SSL configuration should be kept private
config/ssl/*

# Ignore bundled content
client/res/pack/*
*.bundle.js
*.map