# Any dot file or folder is ignored,
.*/*

# But don't ignore launch.json and tasks.json, these enable out-of-box IDE tools
!.vscode/launch.json
!.vscode/tasks.json

# Modules should be obtained from npm
node_modules

# Runtime API JS should be compiled from TS
api/runtime

# SSL configuration should be kept private
config/ssl

# Ignore generated client bundled content
client/public/pack
client/types

*.bundle.js
*.map
*.tsbuildinfo

# Ignore apps generated executables, only keep their typescript source code
apps/**/*.src.mjs

# Original sample image shouldn't be tracked
docs/sample.png

# Private user folder files
usr/test/.system/collections.json
usr/test/.system/favorites.json
usr/test/.system/desktop.json