.app-sinestesia {
	display: flex;
	flex-direction: column;
}

.app-sinestesia .contentw {
	display: none;
	flex-grow: 1;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.app-sinestesia .contentw.enabled {
	display: flex;
}

.app-sinestesia img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.app-sinestesia .video {
	
}

.app-sinestesia .video-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-sinestesia .controls {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 200ms;
	pointer-events: none;
}

.app-sinestesia .controls .bottom {
	display: flex;
	height: 1.5rem;
	padding: 0 .4rem;
	align-items: center;
	background: rgba(20, 20, 20, 0.3);
	pointer-events: all;
} 

.app-sinestesia .controls .bottom .progressbar {
	height: 14px;
	margin: 0 4px;
	flex-grow: 1;
	border: none;
	border-radius: 4px;
}

.app-sinestesia .controls .center {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-around;
}

.app-sinestesia .controls.visible {
	opacity: 1;
}

.app-sinestesia .video-time {
	font-size: 10pt;
	color: lightgray;
	white-space: nowrap;
}

.app-sinestesia .time {
	color: white;
}

.app-sinestesia .prev-btn {
	border: none;
	width: 60px;
	height: 60px;
	background-size: 42px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/previous.png');
	border-radius: 50%;
	pointer-events: all;
}

.app-sinestesia .next-btn {
	border: none;
	width: 60px;
	height: 60px;
	background-size: 42px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/next.png');
	border-radius: 50%;
	pointer-events: all;
}

.app-sinestesia .play-btn {
	border: none;
	width: 60px;
	height: 60px;
	background-size: 42px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/play.png');
	border-radius: 50%;
	pointer-events: all;
}

.app-sinestesia .video-container.playing .play-btn {
	background-image: url('/app/sinestesia/res/pause.png');
}

.app-sinestesia video {
	flex-grow: 1;
	overflow: hidden;
}

.app-sinestesia audio {
	flex-grow: 1;
	max-width: 100%;
	max-height: 100%;
}

.app-sinestesia .progressbar .thumb::before {
	content: var(--time);
	position: absolute;
	bottom: 115%;
	left: calc(50% - 2rem);
	width: 4rem;
	padding: 3px;
	border: solid 1px #4AF;
	font-size: 12pt;
	text-align: center;
	background: rgba(10, 10, 10, 0.4);
}