<div class='desktop noselect'>
	<div class='dt-area'>
		<div class='backplane'>
			<div class='text'>
			<p id='client-ver'>Clouds</p>
			<p id='api-ver'></p>
			</div>
		</div>
		<div class='windows'></div>
	</div>
	<div class='taskbar'>
		<button class='button apps-btn'></button>
		<button class='button fullscreen-btn'></button>
		<div class='tasks'></div>
		<div id='taskbar-apps-menu'>
			<ul></ul>
			<hr/>
			<button class='button logout-btn'>Logout</button>
		</div>
		<ul id='taskbar-window-list'></ul>
	</div>
	<div class='context-menu'></div>
	<div id='window-drag-rect'></div>
</div>
<div id='loading-screen'>
	<div id='loading-icon'></div>
	<p id='loading-text'>Preparing your desktop...</p>
</div>
<template id='t_window'>
	<div class='window noselect'>
		<div class='window-head'>
			<button class='button options-btn'></button>
			<span class='window-title'>Window</span>
			<button class='button minimize-btn'></button>
			<button class='button maxrestore-btn'></button>
			<button class='button close-btn'></button>
		</div>
		<div class='window-body'></div>
	</div>
</template>