<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Clouds</title>
	<script src='/res/js/entry.js'></script>
	<link rel="stylesheet" type="text/css" href="/res/css/styles.css">
	<link rel="icon" type="image/x-icon" href="/res/favicon.png">
	<style id="fullscreen-style"></style>
</head>
<body></body>
</html>