<link rel="stylesheet" type="text/css" href="/res/css/login.css">
<div id='login-screen' class='window'>
	<div class='title'>Authentication</div>
	<div class='body'>
		<form action="/auth/login">
			<span>ID</span>
			<input id='id-field' autocomplete='username'/>
			<span>Pass</span>
			<input type='password' id='pass-field' autocomplete='current-password'/>
		</form>
		<div class='status'></div>
		<button id='login-btn'>Login</button>
	</div>
</div>