.app-remoteshell .body {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.app-remoteshell .content-wrapper {
	flex: 1;
	overflow: auto;
	font: 12pt monospace;
}

.app-remoteshell .field {
	height: 2em;
	width: 100%;
}