.app-about {
	.banner {
		display: flex;
		height: 7rem;
		align-items: center;
		justify-content: center;
		font-size: 25pt;
		font-family: 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial', sans-serif;
		font-style: italic;
		background: rgba(0, 0, 0, 0.4);

		.v {
			font-size: 12pt;
			font-style: normal;
		}
	}

	.properties {
		margin: .5rem;
	}

	p {
		margin: 0 0 .4rem 1rem;
	}

	h3 {
		margin: .5rem 0;
	}

	table {
		margin-bottom: .5rem;
	}

	td {
		padding: 2px;

		&:first-child {
			border-right: solid 1px #555;
			padding-right: 1rem;
			white-space: nowrap;
		}
	}

	tr:not(:last-child) td {
		border-bottom: solid 1px #555;
	}
}
