.app-about .tabpane {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-about .header {
	font-size: 0;
}

.app-about .header button {
	margin: 0;
	border: solid 1px #34F;
	border-left: none;
	font-size: 13pt;
	background-color: transparent;
}

.app-about .header button.selected {
	border-bottom: solid 1px transparent;
}

.app-about .tab {
	display: none;
	flex-grow: 1;
	overflow-y: auto;
}

.app-about .tab.visible {
	display: block;
}

.app-about .banner {
	display: flex;
	height: 7rem;
	align-items: center;
	justify-content: center;
	font-size: 25pt;
	font-family: 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial', sans-serif;
	font-style: italic;
	background: rgba(0, 0, 0, 0.4);
}

.app-about .properties {
	margin: 1rem;
}