.app-about {
	.tabpane {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.header {
		font-size: 0;
	}

	.header button {
		margin: 0;
		border: solid 1px #34F;
		border-left: none;
		font-size: 13pt;
		background-color: transparent;
	}

	.header button.selected {
		border-bottom: solid 1px transparent;
	}

	.tab {
		display: none;
		flex-grow: 1;
		overflow-y: auto;
	}

	.tab.visible {
		display: block;
	}

	.banner {
		display: flex;
		height: 7rem;
		align-items: center;
		justify-content: center;
		font-size: 25pt;
		font-family: 'Trebuchet MS', 'Verdana', 'Helvetica', 'Arial', sans-serif;
		font-style: italic;
		background: rgba(0, 0, 0, 0.4);
	}

	.properties {
		margin: .5rem;
	}

	p {
		margin: 0 0 .4rem 1rem;
	}

	h3 {
		margin: .5rem 0;
	}

	table {
		margin-bottom: .5rem;
	}

	td {
		padding: 2px;
	}

	td:first-child {
		border-right: solid 1px #555;
		padding-right: 1rem;
		white-space: nowrap;
	}

	tr:not(:last-child) td {
		border-bottom: solid 1px #555;
	}
}
