<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Clouds</title>
	<script><%- include('./entry.js') %></script>
	<style><%- include('./entry.css') %></style>
	<style id="fullscreen-style"></style>
</head>
<body onload="EntrySpace.onLoad();">
	<div id="boot-log"></div>
</body>
</html>