<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Clouds</title>
	<script>
		var EntrySpace = {};
		EntrySpace.assetMap = <%- JSON.stringify(assetMap) %>;

		(function () {
			var ES = EntrySpace;

			ES.log = function (msg) {
				var bootLog = document.getElementById('boot-log');
				var p = document.createElement('p');
				p.innerHTML = msg;
				bootLog.appendChild(p);
				return p;
			};
			ES.scriptFailed = function (elem) {
				EntrySpace.log("[!] Core boot script <b>" + elem.src + "</b> failed.")
			};
			ES.enableHandlers = function () {
				window.onunhandledrejection = function (ev) {
					var detail;
					if (ev.reason) {
						var trace = (ev.reason.stack) ? ev.reason.stack : 'unavailable';
						detail = ev.reason + '\n trace: ' + trace;
					}
					EntrySpace.log('[!] Unhandled rejection\n ' + detail);
				};
				window.onerror = function (ev) {
					EntrySpace.log('[!] Unhandled error\n ' + ev + '');
				};
			};
			ES.disableHandlers = function () {
				EntrySpace.log('Handlers disabled.');
				window.onerror = undefined;
				window.onunhandledrejection = undefined;
			};
			ES.addScript = function (src) {
				var log = ES.log('Loading <b>' + src + '</b>... ');
				var elem = document.createElement('script');
				elem.onerror = function (err) {
					ES.scriptFailed(elem);
				}
				elem.onload = function () {
					log.innerHTML += "Done.";
				}
				elem.setAttribute('src', src);
				document.head.appendChild(elem);
			}
			ES.onLoad = function() {
				ES.addScript('/res/pack/entry.js?v=' + ES.assetMap.all);
			}

			ES.enableHandlers();
			ES.startTime = Date.now();
		})();
	</script>
	<style>
		#boot-log {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			font: 12pt monospace;
			pointer-events: none;
			z-index: -1;
			color: white;
			background-color: black;
			white-space: pre;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/res/pack/entry.css?v=<%= assetMap.all %>">
	<link rel="icon" type="image/x-icon" href="/res/favicon.png?v=<%= assetMap.all %>">
	<% if (use_pwa_features) { %>
		<link rel="manifest" href="/res/manifest.json?v=<%= assetMap.all %>">
	<% } %>
	<style id="fullscreen-style"></style>
</head>
<body onload="EntrySpace.onLoad();">
	<div id="boot-log"></div>
</body>
</html>