#boot-log {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	font: 12pt monospace;
	pointer-events: none;
	z-index: -1;
	color: white;
	background-color: black;
	white-space: pre;
}
#boot-log p {
	margin: 0
}