.app-audioconf {
	display: flex;
	flex-direction: column;
	padding: 0.15rem;
	font-size: 10pt;
}

.app-audioconf .stage {
	border: solid 1px rgba(40, 50, 255, 0.4);
	margin: 0.1rem;
	padding: 0.3rem;
}

.app-audioconf .eq-stage {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: hidden;
}

.app-audioconf .audio-eq {
	flex-grow: 1;
	overflow: hidden;
}

.audio-eq canvas {
	background: rgba(30, 40, 80, 0.5);
	width: 100%;
	height: 100%;
}