#desktop {
	color: white;
}

.window {
	box-shadow: none;

	&.decorated {

		> .window-head {
			background: hsl(220, 55%, 40%);
		}
	
		&:not(.maximized) {
			border: ridge 2px gray;
		}
	
		&.focused {
			border-color: #25E;
			box-shadow: none;

			> .window-head {	
				background: linear-gradient(to right, hsl(220, 100%, 38%), hsl(204, 100%, 45%), hsl(320, 90%, 60%));
			}
		}
	}

	.window-title {
		color: white;
	}

	.window-body {
		background: hsl(220, 5%, 10%);
	}
}

.button {
	background-color: hsl(220, 5%, 20%);

	&:hover {
		background-color: hsl(220, 5%, 25%);
	}
	
	&:active {
		background-color: hsl(220, 5%, 10%);
	}
}

.field {
	background-color: hsl(220, 5%, 20%);
}
