.app-console {
	display: flex;
	flex-direction: column;
}

.app-console .content {
	overflow: auto;
	flex-grow: 1;
	font: 10pt monospace;
}

.app-console .input {
	display: flex;
}

.app-console .cmd-field {
	flex-grow: 1;
}

.app-console .msg {
	white-space: pre;
}