.app-explorer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-explorer .navigation .button {
	margin: 0;
	width: 36px;
	height: 36px;
	min-width: 36px;
	background-size: 21px;
}

.app-explorer .back-btn {
	background-image: url('/res/img/icons/arrow.png');
	transform: rotate(-90deg);
}

.app-explorer .up-btn {
	background-image: url('/res/img/icons/arrow.png');
}

.app-explorer .refresh-btn {
	background-image: url('/res/img/icons/refresh.png');
}

.app-explorer .navigation {
	display: flex;
	padding: 4px;
	font-size: 12pt;
	justify-content: stretch;
	justify-items: stretch;
}

.app-explorer .address-field {
	margin: 0 4px;
	flex-grow: 1;
}

.app-explorer .search-field {
	margin: 0;
}

.app-explorer .body {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

.app-explorer .footer {
	background: rgba(48, 48, 48, 0.6);
}

.app-explorer .save-options {
	display: flex;
	text-align: right;
	border-top: solid 1px gray;
	padding: 2px;		
}

.app-explorer .save-options .name-field {
	flex-grow: 1;
}

.app-explorer .choose-options {
	text-align: right;
	border-top: solid 1px gray;
	padding: 2px;	
}

.app-explorer aside {
	width: 10%;
	min-width: 7em;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.1);
}

.app-explorer aside.hidden {
	display: none;
}

.app-explorer .favorites-btn {
	font-size: 11pt;
	border: none;
	border-left: white;
	background: rgba(128, 128, 128, 0.1);
}

.app-explorer .favorites li {
	margin: 4px;
	padding-left: 1.75rem;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: 12pt;
	background-image: url('/res/img/ftypes/folder128.png');
	background-size: contain;
	background-repeat: no-repeat;
	filter: hue-rotate(150deg);
}

.app-explorer .collections li {
	margin: 4px;
	padding-left: 1.75rem;
	font-size: 12pt;
	background-image: url('/res/img/ftypes/folder128.png');
	background-size: contain;
	background-repeat: no-repeat;
	filter: hue-rotate(60deg);
}

.app-explorer .files-container {
	flex-grow: 1;
	overflow: auto;
	touch-action: pan-y;
} 

.app-explorer .files {
	--icon-width: 128px;
	--icon-height: 96px;
	--icon-border: 0px;
}

.app-explorer .file {
	display: inline-block;
	width: var(--icon-width);
	margin: 0 var(--icon-border);
	padding: 4px 1px;
	text-align: center;
	vertical-align: top;
	font-size: 10pt;
	font-weight: lighter;
	word-wrap: break-word;
}

.app-explorer .file:hover {
	background: rgba(210, 210, 210, 0.3);
}

.app-explorer .file.selected {
	background: linear-gradient(to bottom, rgba(64, 64, 255, 0.3), rgba(64, 196, 255, 0.4));
}

.app-explorer .file i {
	flex-grow: 1;
	display: block;
	height: var(--icon-height);
	background-image: url('/res/img/ftypes/file128.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.app-explorer .file i img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.app-explorer .file.blocked i {
	filter: brightness(70%) sepia(50%);
}

.app-explorer .file.symbolic {
	font-style: italic;
}

.app-explorer .file.thumbbed i {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: none;
}

.app-explorer .file.dir i {
	background-image: url('/res/img/ftypes/folder128.png');
}

.app-explorer .file.audio i {
	background-image: url('/res/img/ftypes/audio128.png');
}

.app-explorer .file.text i {
	background-image: url('/res/img/ftypes/text128.png');
}

.app-explorer .file.video:not(.thumbbed) i {
	background-image: url('/res/img/ftypes/video128.png');
}

.app-explorer .file.hidden {
	display: none;
}

.app-explorer .rename-field {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* File upload window */
.fileupload-helper {
	margin: .2em;
	border: solid 1px lightblue;
}

.fileupload-helper .select-btn {
	border: none;
	background: none;
	color: white;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.fileupload-helper .upload-btns {
	display: flex
}

.fileupload-helper .clear-btn {
	margin: 2px;
	padding: 1em;
	flex-grow: 1;
	flex-basis: 0;
	border: solid 1px red;
	background-color: rgba(255, 0, 0, 0.1);
}

.fileupload-helper .upload-btn {
	margin: 2px;
	padding: 1em;
	flex-grow: 1;
	flex-basis: 0;
	background-color: rgba(0, 0, 255, 0.1);
}

.fileupload-helper .ok-btn {
	font-size: 14pt;
}

.fileupload-helper i {
	display: block;
	width: 128px;
	height: 128px;
	margin: 0 auto;
	background: url('/res/img/icons/upload.png');
	background-position: center;
	background-size: contain;
}

.fileupload-helper .step {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
}

.fileupload-helper progress {
	width: 15em;
}

/* Open with helper window */
.openwith-helper .list {
	height: 100%;
	overflow: auto;
}

.openwith-helper .list li {
	padding: 4px;
	border-bottom: solid 1px lightgray;
}

.default-handler-helper p {
	margin: 1rem;
}

.default-handler-helper .option {
	display: block;
	width: 100%;
	margin: 0;
	border-top: solid 1px gray;
	text-align: left;
}

.default-handler-helper .option img {
	width: 32px;
	height: 32px;
	margin: 1rem;
	vertical-align: middle;
}

.default-handler-helper .option-text {
	vertical-align: middle;
}

.properties-win {
	padding: 1rem;
}