.app-configs {
	display: flex;
	flex-direction: column;
}

.app-configs .general-tab.visible {
	display: flex;
	flex-direction: column;
}

.app-configs .row {
	display: block;
	margin: .5em .5rem;
}

.app-configs .input {
	display: flex;
	align-items: center;
}

.app-configs .input .field {
	flex: 1;
	margin-left: 1rem;
	align-self: stretch;
}

.app-configs .row span {
	vertical-align: middle;
}

.app-configs .spacer {
	flex-grow: 1;
}

.app-configs .bottom {
	margin: 0;
	padding: .25em;
	text-align: right;
	background: rgba(255, 255, 255, 0.05);
}