{
	"plugins": [
		// Point /@sys/ references to dummy imports in public js includes
		["module-resolver", {
			"alias": {
				"/@sys": "./client/public/js/"
			}
		}]
	],
	"presets": [
		["@babel/preset-typescript", {}],
		["@babel/preset-env", {		
			"targets": {
				"chrome": 79
			},
			"useBuiltIns": "usage",
			"corejs": "^3.36.1"
		}]
	]
}