.app-explorer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-explorer .btn {
	padding: 4px;
	font-size: inherit;
	border: solid 1px blue;
	color: white;
}

.app-explorer .navigation .btn {
	width: 28px;
	background-size: 21px;
}

.app-explorer .back-btn {
	background-image: url('/res/img/icons/arrow.png');
}

.app-explorer .refresh-btn {
	background-image: url('/res/img/icons/refresh.png');
}

/*.app-explorer .ribbon {
	background: rgba(0.24, 0.25, 0.25, 0.2);
}

.app-explorer .ribbon button {
	padding: 4px;
	background: none;
	border: none;
	color: white;
}*/

.app-explorer .navigation {
	display: flex;
	padding: 4px;
	font-size: 12pt;
	justify-content: stretch;
	justify-items: stretch;
}

.app-explorer .address-field {
	margin: 0 4px;
	flex-grow: 1;
}

.app-explorer .body {
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

.app-explorer .footer {
	background: rgba(48, 48, 48, 0.6);
}

.app-explorer .choose-options {
	border-top: solid 1px gray;
	padding: 2px;
	font-size: 11pt;
	text-align: right;
}

.app-explorer aside {
	display: flex;
	flex-shrink: 0;
	background: rgba(0, 0, 0, 0.1);
}

.app-explorer .favorites-btn {
	font-size: 11pt;
	border: none;
	border-left: white;
	background: rgba(128, 128, 128, 0.1);
}

.app-explorer .favorites {
	display: inline-block;
}
.app-explorer .favorites.hidden {
	display: none;
}

.app-explorer aside li {
	margin: 4px;
	padding-left: 1.75rem;
	font-size: 12pt;
	background-image: url('/res/img/ftypes/folder128.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.app-explorer .files-container {
	flex-grow: 1;
	overflow: auto;
	touch-action: pan-y;
} 

.app-explorer .files {
	--icon-width: 128px;
	--icon-height: 96px;
	--icon-border: 0px;
}

.app-explorer .file {
	display: inline-block;
	width: var(--icon-width);
	margin: 0 var(--icon-border);
	padding: 4px 1px;
	text-align: center;
	vertical-align: top;
	font-size: 10pt;
	font-weight: lighter;
	word-wrap: break-word;
}

.app-explorer .file:hover {
	background: rgba(210, 210, 210, 0.3);
}

.app-explorer .file.selected {
	background: linear-gradient(to bottom, rgba(64, 64, 255, 0.3), rgba(64, 196, 255, 0.4));
}

.app-explorer .file i {
	display: block;
	height: var(--icon-height);
	background-image: url('/res/img/ftypes/file128.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.app-explorer .file i img {
	max-width: 100%;
	max-height: 100%;
}

.app-explorer .file.blocked i {
	filter: brightness(70%) sepia(50%);
}

.app-explorer .file.symbolic {
	font-style: italic;
}

.app-explorer .file.thumbbed i {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: none;
}

.app-explorer .file.dir i {
	background-image: url('/res/img/ftypes/folder128.png');
}

.app-explorer .file.audio i {
	background-image: url('/res/img/ftypes/audio128.png');
}

.app-explorer .file.hidden {
	display: none;
}

.app-explorer .field {
	padding: 4px;
	font-size: inherit;
	border: solid 1px blue;
	background: none;
	color: white;
}

