.app-sysmonitor .tabpane {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-sysmonitor .header {
	font-size: 0;
}

.app-sysmonitor .header button {
	margin: 0;
	border: solid 1px #34F;
	border-left: none;
	font-size: 13pt;
	background-color: transparent;
}

.app-sysmonitor .header button.selected {
	border-bottom: solid 1px transparent;
}

.app-sysmonitor .tab {
	display: none;
	flex-grow: 1;
}

.app-sysmonitor .tab.visible {
	display: block;
}

.app-sysmonitor .app {
	padding: 4px;
	border: inset 1px #25A;
}

.app-sysmonitor .win {
	padding: 4px;
	border: inset 1px #25A;
}