.app-sinestesia {
	display: flex;
	flex-direction: column;
}

.app-sinestesia .content-windows {
	flex-grow: 1;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.app-sinestesia .content-w {
	display: none;
	flex-grow: 1;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.app-sinestesia .content-w.enabled {
	display: flex;
}

.app-sinestesia .container.fullscreened {
	background: rgba(0, 0, 0, 0.5);
}

.app-sinestesia .image-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-sinestesia img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.app-sinestesia .video-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.app-sinestesia .content-w.video {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.app-sinestesia .controls {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 200ms;
	pointer-events: none;
}

.app-sinestesia .controls .top {
	display: flex;
	padding: 0 .2rem;
	align-items: center;
	background: rgba(20, 20, 20, 0.3);
	pointer-events: all;
}

.app-sinestesia .volume {
	margin: 0 1rem;
	flex-grow: 1;
}

.app-sinestesia .controls .mute-btn {
	border: none;
	width: 32px;
	height: 32px;
	background-size: 32px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/volume.png');
	border-radius: 50%;
	pointer-events: all;
	vertical-align: middle;
}

.app-sinestesia .controls .volume {
	vertical-align: middle;
	pointer-events: all;
}

.app-sinestesia .controls .bottom {
	display: flex;
	height: 1.5rem;
	padding: 0 .4rem;
	align-items: center;
	background: rgba(20, 20, 20, 0.3);
	pointer-events: all;
} 

.app-sinestesia .controls .bottom .progressbar {
	height: 14px;
	margin: 0 4px;
	flex-grow: 1;
	border: none;
}

.app-sinestesia .controls .center {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-around;
}

.app-sinestesia .controls.visible {
	opacity: 1;
}

.app-sinestesia .video-time {
	font-size: 10pt;
	color: lightgray;
	white-space: nowrap;
}

.app-sinestesia .time {
	color: white;
}

.app-sinestesia .prev-btn {
	border: none;
	width: 60px;
	height: 60px;
	background-size: 42px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/previous.png');
	border-radius: 50%;
	pointer-events: all;
}

.app-sinestesia .next-btn {
	border: none;
	width: 60px;
	height: 60px;
	background-size: 42px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/next.png');
	border-radius: 50%;
	pointer-events: all;
}

.app-sinestesia .play-btn {
	border: none;
	width: 60px;
	height: 60px;
	background-size: 42px;
	background-color: rgba(0, 0, 0, 0.2);
	background-image: url('/app/sinestesia/res/play.png');
	border-radius: 50%;
	pointer-events: all;
}

.app-sinestesia .video-container.playing .play-btn {
	background-image: url('/app/sinestesia/res/pause.png');
}

.app-sinestesia video {
	flex-grow: 1;
	overflow: hidden;
}

.app-sinestesia audio {
	flex-grow: 1;
	max-width: 100%;
	max-height: 100%;
}

.app-sinestesia .progressbar .thumb::before {
	content: var(--time);
	position: absolute;
	bottom: 115%;
	left: calc(50% - 2rem);
	width: 4rem;
	padding: 3px;
	border: solid 1px #4AF;
	font-size: 12pt;
	text-align: center;
	background: rgba(10, 10, 10, 0.4);
}

.app-sinestesia .segment-marker {
	display: flex;
	background: rgb(255, 255, 255, 0.2)
}

.app-sinestesia .segment-list {
	width: 80px;
	position: relative;
}

.app-sinestesia .segment-list ul {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-y: auto;
}

.app-sinestesia .segment-list li {
	border-bottom: solid 1px gray;
	font-size: 11pt;
	white-space: nowrap;
}

.app-sinestesia .track {
	position: relative;
	margin:  0 4px 4px 4px;
	height: 50px;
	background-color: #888;
	background-image:
		linear-gradient(to right,  #999 1px, transparent 1px),
		linear-gradient(to bottom, #999 1px, transparent 1px);
	background-size: 10px 10px;
}

.app-sinestesia .tooltip {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px;
	border: solid 1px blue;
	background-color: #223;
	font-size: 10pt;
	pointer-events: none;
}

.app-sinestesia .segment {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0px;
	width: 0px;
	border: solid 1px yellow;
	overflow: hidden;
	font: 12pt 'Tahoma';
	color: black;
	background: hsla(60, 100%, 40%, 0.7);
}

.app-sinestesia .segment:focus {
	border: solid 1px hsl(30, 100%, 65%);
	background: hsla(30, 100%, 50%, 0.8);
}

.app-sinestesia .selection {
	background: hsla(210, 100%, 50%, 0.5);
	pointer-events: none;
}

.app-sinestesia .play-line {
	width: 1px;
	border: none;
	border-left: solid 1px red;
	pointer-events: none;
}
