html {
	width: 100%;
	height: 100%;
	background-image: url('/res/favicon.png');
	background-color: #39F;
	background-size: 64px 64px;
}

body {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	touch-action: none;
}

#desktop {
	--dark-window-bg: hsla(220, 5%, 10%, 0.8);
	--taskbar-height: 32px;
	--fullscreen-filter-on: blur(2px);
	--fullscreen-filter-off: none;
	--fullscreen-filter: var(--fullscreen-filter-on);

	--base-color: hsl(220, 100%, 60%);
	--base-color-dark: hsl(220, 70%, 45%);
	--accent-color: hsl(320, 70%, 60%);
	--accent-color-dark: hsl(320, 55%, 45%);

	--window-unfocused-bar-pattern: hsla(220, 55%, 40%);
	--window-focused-bar-pattern: linear-gradient(to right, hsla(220, 100%, 38%, 0.9), hsla(204, 100%, 45%, 0.8), hsla(320, 90%, 60%, 0.9));

	--base-font: 'Arial', 'Helvetica', sans-serif;

	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 14pt var(--base-font);
	color: white;
	background-image: none;
	background-size: cover;
	background-position: center;
	overflow: hidden !important;
}

/* Desktop and back-plane */
#desktop .dt-area {
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	min-height: 0;
	z-index: 0;
}

/* When an app is fullscreen, make sure the desktop area appears over the taskbar */
#desktop .dt-area.fscr-parent {
	z-index: 1;
}

#desktop .back-plane {
	display: flex;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: .5rem;
}

#desktop .back-plane .text {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 0.5em 0.5em 0;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	text-align: right;
	font: 11pt 'Tahoma';
}

#desktop .back-plane .app-icon {
	border: solid 1px transparent;
	width: 7rem;
	margin:  .2rem .2rem;
	padding: .4rem .1rem;
	text-align: center;
}

#desktop .back-plane .app-icon:hover {
	border: solid 1px #68F;
	background-color: rgba(40, 40, 255, 0.1);
}

.app-icon label {
	display: block;
	font-size: 12pt;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.app-icon img {
	width: 4rem;
}

/* Taskbar */ 
.desktop .taskbar {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	height: var(--taskbar-height);
	background: linear-gradient(0deg, #111, 20%, #222, 60%, #444);
}

.desktop .taskbar .tasks {
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
	overflow: hidden;
	border-left: groove 2px #101018;
}

.taskbar .task-button {
	display: flex;
	position: relative;
	align-items: center;
	height: 100%;
	max-width: 8em;
	margin: 0;
	padding: 0 4px 0 0;
	border-right: groove 2px #111;
	overflow: hidden;
	background: linear-gradient(to top, #222, #555);
}

.taskbar .task-button .count {
	position: absolute;
	left: 2px;
	bottom: 0px;
	font-size: 8pt;
	font-weight: bold;
	color: hsl(230, 100%, 70%);
}

.taskbar .task-button img {
	width: 40px;
	height: 28px;
	min-width: 32px;
	margin-right: 2px;
	vertical-align: middle;
	object-fit: contain;
}

.taskbar .task-button .text {
	overflow: hidden;
	text-overflow: ellipsis;
	font: 10pt 'Tahoma';
	white-space: nowrap;
}

.taskbar .fullscreen-btn {
	width: 36px;
	background-color: transparent;
	background-image: url('/res/img/icons/fullscreen.png');
	background-size: 26px;
	flex-shrink: 0;
}

.taskbar .apps-btn {
	width: 36px;
	background-color: transparent;
	background-image: url('/res/img/icons/apps.png');
	background-size: 26px;
	flex-shrink: 0;
}

#taskbar-apps-menu {
	display: none;
	position: absolute;
	left: 0;
	bottom: var(--taskbar-height);
	border: solid 1px var(--base-color);
	padding: 2px 2px;
	font-size: 13pt;
	background: #202020;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

#taskbar-apps-menu li {
	display: block;
	padding: 4px 1.5em 4px 1em;
}

#taskbar-apps-menu li:hover {
	background-color: var(--base-color-dark);
}

#taskbar-apps-menu img {
	width: 24px;
	height: 24px;
	margin: 0 .5em 0 0;
	vertical-align: middle;
}

#taskbar-apps-menu button {
	float: right;
	margin: .3em .15em .15em;
	padding: .35em .5em;
	font: 12pt 'Tahoma';
	color: white;
}

#taskbar-window-list {
	display: none;
	position: absolute;
	border: solid 1px var(--base-color);
	padding: 2px 2px;
	font-size: 13pt;
	background: #202020;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

#taskbar-window-list li {
	display: block;
	padding: 4px 1em 4px .5em;
}

#taskbar-window-list li:hover {
	background-color: var(--base-color-dark);
}

#taskbar-window-list img {
	width: 20px;
	height: 20px;
	margin: 0 .5em 0 0;
	vertical-align: middle;
}

#taskbar-apps-menu hr {
	margin: 2px 4px 2px 4px;
	border: none;
	border-left: solid 2em transparent;
	border-right: solid 2em transparent;
	border-bottom: solid 1px darkgray;
}

.no-select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;	
	user-select: none;
}