/* Windows */
.windows {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.window {
	--titlebar-height: 28px;
	--icon-size: 20px;
	pointer-events: auto;
	display: none; /* Windows start invisible */
	flex-direction: column;
	position: absolute;
	overflow: hidden;
	box-shadow: 0px 0px 4px black;
}

.window.maximized {
	--titlebar-height: 22px;
	box-shadow: none;
}

.window.decorated:not(.maximized) {
	border: solid 1px darkgray;
}

.window.decorated.focused {
	border-color: #25E;
	box-shadow: 0px 0px 8px black;
}

.window.visible {
	display: flex;
}

.window > .window-head {
	display: none;	
}

.window.decorated > .window-head {
	display: flex;
	flex-shrink: 0;
	height: var(--titlebar-height);
	background: var(--window-unfocused-bar-pattern);
	white-space: nowrap;
}

.window.decorated.focused > .window-head {	
	background: var(--window-focused-bar-pattern);
}

.window.decorated > .window-head button {
	width: 32px;
	height: 100%;
	flex-shrink: 0;
	background-color: transparent;
	background-size: var(--icon-size);
	border: none;
	color: white;
}

.window.decorated > .window-head button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.window.decorated > .window-head .window-title {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	line-height: var(--titlebar-height);
	font-size: 11pt;
	text-overflow: ellipsis;
	pointer-events: all;
}

.window-body {
	overflow: hidden;
	flex-grow: 1;
	background: var(--dark-window-bg);
}

.options-btn {
	background-image: url("/res/img/icons/menu.png");
}

.minimize-btn {
	background-image: url("/res/img/icons/minimize.png");
}

.maxrestore-btn {
	background-image: url("/res/img/icons/maximize.png");
}

.window.maximized .maxrestore-btn {
	background-image: url("/res/img/icons/restore.png");
}

.close-btn {
	background-image: url("/res/img/icons/close.png");
}

#window-drag-rect {
	position: absolute;
	display: none;
	pointer-events: all;
	border: solid 4px white;
	will-change: width, height, transform;
}

/* ---- Dialogs ---- */
.window.dialog .window-body {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

.window.dialog .dialog-icon {
	float: left;
	width: 64px;
	min-width: 64px;
	height: 64px;
	margin: 0 .5rem;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: padding-box;
}

.window.dialog .info-icon {
	background-image: url('/res/img/icons/info.png');
}

.window.dialog .error-icon {
	background-image: url('/res/img/icons/error.png');
}

.window.dialog .warning-icon {
	background-image: url('/res/img/icons/warning.png');
}

.window.dialog .choice-icon {
	background-image: url('/res/img/icons/choice.png');
}

.window.dialog .message {
	display: flex;
	flex-grow: 1;
	overflow: auto;
	white-space: nowrap;
	margin: 0 .5rem .5rem 0;
}

.window.dialog .options {
	width: 100%;
	align-self: flex-end;
	text-align: right;
	background: rgba(20, 20, 20, 0.4);
}

.window.dialog .dialog-text {
	white-space: pre-wrap;
}

/* Context menu */
.context-menu {
	display: none;
	position: absolute;
	border: solid 1px var(--base-color);
	padding: 2px 2px;
	font: 13pt sans-serif;
	background: #202020;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
	color: white;
	white-space: pre;
}

.context-menu.visible {
	display: block;
}

.context-menu i {
	display: block;
	padding: 4px 2em 4px 1.25em;
	font-style: inherit;
}

.context-menu i.disabled {
	color: gray;
}

.context-menu i:not(.disabled):hover {
	background-color: var(--base-color-dark);
}

.context-menu i.check {
	padding-left: 0;
}

.context-menu i.check::before {
	width: 1.25em;
	content: '';
	display: inline-block;
	text-align: center;
}

.context-menu i.check.checked::before {
	content: '\2713';
}

.context-menu i.menu {
	padding-right: 0;
}

.context-menu i.menu {
	padding-right: 1.5em;
}

.context-menu i.menu::after {
	content: '>';
	position: absolute;
	right: 0;
	padding-right: 6px;
}

.context-menu hr {
	margin: 2px 4px;
	border: none;
	border-right: solid 2em transparent;
	border-bottom: solid 1px gray;
}

/* General */
.window-body .button {
	margin: .15em;
	padding: .35em .5em;
	font-family: var(--base-font);
	font-size: 13pt;
	color: var(--base-text-color);
}

.window-body .menu-bar {
	border: none;
	border-bottom: solid 1px rgb(127, 127, 127);
	font-size: 0;
}

.window-body .menu-button {
	margin: 0;
	padding: .1em 2em;
	border: none;
	font-family: var(--base-font);
	font-size: 11pt;
	background: none;
	color: var(--base-text-color);
}

.menu-button:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.menu-button:active {
	background-color: rgba(0, 0, 0, 0.2);
	outline: none;
}

.error-log {
	border: inset 1px black;
	font-family: monospace;
}

.error-log table {
	border-collapse: collapse;
}

.error-log table td {
	padding: 0px 8px;
}

.fullscreened {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100vw - 0.1px) !important;
	height: calc(100vh - 0.1px) !important;
	max-width: calc(100vw - 0.1px) !important;
	max-height: calc(100vh - 0.1px) !important;
	flex-shrink: 0;
	backdrop-filter: var(--fullscreen-filter);
}

.fscr-parent {
	overflow: initial !important;
	/*transform: none !important;*/
}