.button {
	border: none;
	background-color: rgba(255, 255, 255, 0.075);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: padding-box;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.button:active {
	background-color: rgba(0, 0, 0, 0.2);
	outline: solid 1px #18F;
}

.button:focus {
	outline: solid 1px #B28;
}

.button:focus-visible {
	outline: solid 4px #FFF !important;
	opacity: 1;
	animation: blinking 500ms ease-in-out;
}

@keyframes blinking {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.button:focus-visible {
	outline: solid 4px #FFF !important;
}

.field {
	width: 10em;
	min-width: 0;
	margin: .15em;
	padding: .1em .2em;
	border: none;
	border-bottom: ridge 2px #47F;
	font-size: 13pt;
	background-color: rgba(255, 255, 255, 0.05);
	color: white;	
}

.field:focus {
	outline: none;
	border-bottom-color: hsl(320, 70%, 60%);
}

.checkbox {
	display: inline-grid;
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	margin: .15em;
	border: solid 1px #124;
	outline: solid 1px #18F;
	vertical-align: middle;
	place-content: center;
}

.checkbox:checked::before {
	content: "";
	width: 16px;
	height: 16px;
	background: linear-gradient(45deg, #D4A, #18F);
}

.checkbox:hover {
	outline: solid 1px #D4A;
}

progress {
	width: 10em;
	height: 1.3em;
	border-radius: 0;
	--color: linear-gradient(#FFF4, #FFF0), repeating-linear-gradient(135deg, #0003 0 10px, #0000 0 20px), #04B;
	--background: #223;
}

progress::-webkit-progress-bar {
	background: var(--background);
}

progress::-webkit-progress-value {
	background: var(--color);
}

.slider {
	--thumb-size: 18px;

	position: relative;
	display: inline-block;
	width: 256px;
	height: 12px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	border-color: rgba(10, 10, 10, 0.5);
	font-size: 7px;
	box-sizing: border-box;
	user-select: none;
	background: white;
	background-clip: content-box;
}

.slider .lower {
	position: absolute;
	display: block;
	height: 100%;
	width: 50%;
	padding: 3px;
	left: 0;
	top: 0;
	line-height: 0;
	box-sizing: border-box;
	user-select: none;
	background: #00B6FF;
	background-clip: content-box;
}

.slider .thumb {
	position: absolute;
	display: block;
	top: calc(50% - var(--thumb-size)/2);
	width: var(--thumb-size);
	height: var(--thumb-size);
	box-sizing: border-box;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	user-select: none;
	background: white;
}

.slider .thumb:hover {
	background: #00B6FF;
}

.ui-tabs {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.ui-tabs .ui-tabs-header {
	width: 100%;
	display: flex;
	font-size: 0;
}

.ui-tabs .ui-tabs-header button {
	margin: 0;
	flex-grow: 1;
	font-size: 13pt;
	background-color: transparent;
	border-bottom: ridge 2px #47F;
}

.ui-tabs .ui-tabs-header button.selected {
	border-bottom-color: hsl(320, 70%, 60%);
	background-color: rgba(255, 255, 255, 0.1);
}

.ui-tabs .ui-tabs-header button:focus {
	outline: none;
}

.ui-tabs .ui-tab {
	display: none;
	flex-grow: 1;
	overflow-y: auto;
}

.ui-tabs .ui-tab.visible {
	display: block;
}

ui-slider {
	display: inline-block;
	width: 256px;
	height: 12px;
}