:root {
	--dark-window-bg: hsla(220, 5%, 10%, 0.8);
	--taskbar-height: 32px;
	--fullscreen-filter-on: blur(2px);
	--fullscreen-filter-off: none;
	--fullscreen-filter: var(--fullscreen-filter-on);
}

html {
	width: 100%;
	height: 100%;
	background-image: url('/res/favicon.png');
	background-color: #39F;
	background-size: 64px 64px;
}

body {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	touch-action: none;
}

/* Desktop and backplane */
.desktop {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 14pt sans-serif;
	color: white;
	background-image: none;
	background-size: cover;
	background-position: center;
	overflow: hidden !important;
}

.desktop .dt-area {
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	min-height: 0;
}

.desktop .backplane {
	display: flex;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: .5rem;
}

.desktop .backplane .text {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 0.5em 0.5em 0;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	text-align: right;
	font: 11pt 'Tahoma';
}

.desktop .backplane .app-icon {
	border: solid 1px transparent;
	width: 7rem;
	margin:  .2rem .2rem;
	padding: .4rem .1rem;
	text-align: center;
}

.desktop .backplane .app-icon:hover {
	border: solid 1px #68F;
	background-color: rgba(40, 40, 255, 0.1);
}

.app-icon label {
	display: block;
	font-size: 12pt;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.app-icon img {
	width: 4rem;
}

/* Taskbar */ 
.desktop .taskbar {
	display: flex;
	flex: 0 0 auto;
	width: 100%;
	height: var(--taskbar-height);
	background: linear-gradient(to bottom, #333, #222);
}

.desktop .taskbar .tasks {
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
	overflow: hidden;
	border-left: groove 2px #101018;
}

.taskbar .tasks div {
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 8em;
	margin: 0;
	padding: 0 4px 0 0;
	border-right: groove 2px #111;
	overflow: hidden;
	background: linear-gradient(to top, #333, #222);
}

.taskbar .tasks img {
	width: 40px;
	height: 28px;
	min-width: 32px;
	margin-right: 2px;
	vertical-align: middle;
	object-fit: contain;
}

.taskbar .tasks span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 10pt 'Tahoma';
}

.taskbar .fullscreen-btn {
	width: 36px;
	background-color: transparent;
	background-image: url('/res/img/icons/fullscreen.png');
	background-size: 26px;
	flex-shrink: 0;
}

.taskbar .apps-btn {
	width: 36px;
	background-color: transparent;
	background-image: url('/res/img/icons/apps.png');
	background-size: 26px;
	flex-shrink: 0;
}

.noselect {
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;	
}

.hidden_ {
	display: none !important; 
}