* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgba(12, 12, 18);
}

#loading-screen {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background: rgba(20, 20, 20, 0.4);	
}

#loading-icon {
	width: 60px;
	height: 60px;
	background: url('/res/favicon.png');
	background-repeat: no-repeat;
	background-size: contain;
	animation: rotation 2s infinite ease-in-out;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359.9deg);
	}
}

.d-none {
	display: none !important;
}

.d-block {
	display: block;
}

.panic-screen {
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background: #115;
	color: white;
}

.panic-screen h1 {
	margin: 1em 0;
	font: 18pt monospace;
}

.panic-screen p {
	margin: 1em 0;
	white-space: pre-wrap;
	font: 13pt monospace;
}

.panic-screen button {
	font: 18pt monospace;
	padding: 0.1em .4em;
}