* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: rgba(24, 24, 28);
	background-size: 64px 64px;
}

#loading-screen {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background: rgba(20, 20, 20, 0.4);	
	pointer-events: none;
	flex-direction: column;
}

#loading-icon {
	width: 60px;
	height: 60px;
	background: url('/res/img/logo64.png');
	background-repeat: no-repeat;
	background-size: contain;
	animation: loading-animation 2.5s infinite ease-in-out;
}

#loading-text {
	margin-top: .5rem;
	font: 20pt 'Tahoma';
	color: white;
	animation: text-animation 2s infinite normal;
}

@keyframes text-animation {
	0% { opacity: 1; }
	50% { opacity: 0.4;}
	100% { opacity: 1; }
}

@keyframes loading-animation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.d-none {
	display: none !important;
}

.d-block {
	display: block;
}

.panic-screen {
	overflow: auto;
	padding-left: 1rem;
	text-align: left;
	background: #115;
	color: white;
}

.panic-screen h1 {
	margin: 1em 0;
	font: 4vmin monospace;
	text-align: center;
}

.panic-screen p {
	margin: 1em 0;
	white-space: pre-wrap;
	font: 3vmin monospace;
}

.panic-screen button {
	font: 3vmin monospace;
	padding: 0.1em .4em;
}