$titlebar_height: 28px;
$titlebar_maximized_height: 22px;
$titlebar_icon_size: 20px;

.window {
	display: none; /* Windows start invisible */
	contain: strict; /* Windows should affect nothing outside them */
	pointer-events: auto;
	flex-direction: column;
	position: absolute;
	overflow: hidden;
	
	&.maximized {
		box-shadow: none;
	}

	&.visible {
		display: flex;
	}

	& > .window-head {
		display: none;	
	}

	&.decorated {
		> .window-head {
			display: flex;
			flex-shrink: 0;
			height: $titlebar_height;
			white-space: nowrap;

			button {
				width: 32px;
				height: 100%;
				flex-shrink: 0;
				background-color: transparent;
				background-size: $titlebar_icon_size;
				border: none;
				color: white;

				&:hover {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}

			.window-title {
				flex-grow: 1;
				flex-shrink: 1;
				overflow: hidden;
				line-height: $titlebar_height;
				font-size: 11pt;
				text-overflow: ellipsis;
				pointer-events: all;
			}
		}

		&.maximized > .window-head {
			height: $titlebar_maximized_height;

			.window-title {
				line-height: $titlebar_maximized_height;
			}
		}
	}

	.window-body {
		overflow: hidden;
		flex-grow: 1;
		background: var(--dark-window-bg);
		height: min-content; /* Fixes uncontrollable flex height in older browsers. */
	}

	.options-btn {
		background-image: url("/res/img/icons/menu.png");
	}

	.minimize-btn {
		background-image: url("/res/img/icons/minimize.png");
	}

	.maxrestore-btn {
		background-image: url("/res/img/icons/maximize.png");
	}

	&.maximized .maxrestore-btn {
		background-image: url("/res/img/icons/restore.png");
	}

	.close-btn {
		background-image: url("/res/img/icons/close.png");
	}
}

/* ---- Dialogs ---- */
.window.dialog {
	.window-body {
		display: flex;
		flex-direction: column;
		padding-top: 1rem;
	}

	.dialog-icon {
		float: left;
		width: 64px;
		min-width: 64px;
		height: 64px;
		margin: 0 .5rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-clip: padding-box;
	}

	.info-icon {
		background-image: url('/res/img/icons/info.png');
	}

	.error-icon {
		background-image: url('/res/img/icons/error.png');
	}

	.warning-icon {
		background-image: url('/res/img/icons/warning.png');
	}

	.choice-icon {
		background-image: url('/res/img/icons/choice.png');
	}

	.message {
		display: flex;
		flex-grow: 1;
		overflow: auto;
		white-space: nowrap;
		margin: 0 .5rem .5rem 0;
	}

	.options {
		width: 100%;
		align-self: flex-end;
		text-align: right;
		background: rgba(20, 20, 20, 0.4);
	}

	.dialog-text {
		white-space: pre-wrap;
	}
}